<div class="wrap">
  <p>Also, you can use deeply nested skltn-bones directives</p>
  <skltn-root class="examples">
    <div class="grid">
      <div class="item" *ngFor="let card of [1, 2, 3, 4, 5, 6]">
        <app-card></app-card>
      </div>
    </div>
  </skltn-root>
</div>



<div class="footer">
  <div class="wrap wrap_src-link">
    <a class="src-link" href="https://github.com/Komock/ngx-skltn/blob/master/src/app/nested-demo/nested-demo.component.html">Example source
      code</a>
  </div>
</div>
