:host {
    display: block;
}

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.repos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 300px;
}

.repo {
    width: calc(50% - 20px);
    margin-top: 42px;
    &__avatar {
        display: block;
        max-width: 70px;
        height: auto;
    }
    &__title {
        font-size: 24px;
        margin: 24px 0 0;
    }
    &__desc {
        font-size: 18px;
    }
    &__link {
        font-size: 14px;
    }
}

.skltn-item {
    &__avatar {
        display: block;
        width: 60px;
        height: 60px;
    }
    &__title {
        height: 24px;
        margin: 24px 0 0;
    }
    &__desc {
        height: 16px;
        margin: 16px 0 0;
        &_last {
            width: 60%;
        }
    }
    &__url {
        height: 16px;
        margin: 24px 0 0;
    }
}