<div class="header">
  <div class="wrap">
    <h1>Ngx-Skltn</h1>

    <div class="github-link-wrap">
      <a href="https://github.com/Komock/ngx-skltn" class="github-link">Github</a>
    </div>
  </div>
</div>

<nav class="nav">
  <div class="wrap">
    <ul>
      <li>
        <a class="nav-link" [routerLink]="[ '/base' ]" routerLinkActive="active">Base Demo</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="[ '/api' ]" routerLinkActive="active">With API</a>
      </li>
      <li>
        <a class="nav-link" [routerLink]="[ '/nested' ]" routerLinkActive="active">With Nested Bones</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
