@import "../variables";

:host {
    display: block;
}

.header {
    padding: 24px 0;

    h1 {
        margin: 0;
    }
    .wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    margin-bottom: 32px;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0 24px 0 0;
    }
}

.nav-link {
    display: block;
    color: darken($color-main, 20%);

    &.active {
        color: lighten($color-main, 20%);
    }
}
