.nav-link {
    display: block;
    padding: 8px 24px;
    color: #fff;
    text-decoration: none;
    background: #938b80;
    border-radius: 6px;
    &.active {
        color: #938b80;
        background: lighten(#938b80, 25%);
    }
}