@import "./variables";

body {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: $color-main;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 20px;
}

.wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  &_src-link {
    text-align: center;
    margin: 100px auto;
  }
}

// Root
my-app {
  display: block;
}

a {
  color: darken($color-main, 20%);
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: $color-main;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin: 54px 0;
}

h3 {
  font-size: 24px;
}

.btn {
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: lighten(#938b80, 30%);
  background: darken(#938b80, 20%);
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 3px;
}

// Card
.card {
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.14);
}

@media (max-width: 640px) {
  .nav {
    ul {
      flex-flow: row wrap;
    }
  }
}
