.sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(50% - 20px);
    .card {
        height: 100%;
    }
}

.skltn-card {
    flex: 1;
    background: #fff;
    height: 100%;
    &__avatar {
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
    }
    &__title {
        height: 24px;
        margin-bottom: 20px;
    }
    &__line {
        height: 12px;
        margin-bottom: 12px;
        &:last-child {
            width: 60%;
        }
    }
}

.skltn-picture {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;
    &_right {
        flex-direction: row-reverse;
    }
    &__img {
        width: 70px;
        height: 50px;
    }
    &__caption {
        width: calc(100% - 90px);
    }
    &__line {
        height: 16px;
        margin-top: 16px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.skltn-line {
    height: 26px;
    margin-bottom: 16px;
}

.skltn-chart {
    height: 100px;
    margin-top: 36px;
}

@media (max-width: 640px) {
    .skltn-card {
        display: flex;
        flex-flow: row wrap;
        &__body {
            flex: auto;
        }
        &__avatar {
            width: 60px;
            height: 60px;
            margin: 0 20px 0 0;
        }
        &__title {
            height: 32px;
            margin-bottom: 20px;
        }
        &__line {
            height: 20px;
            margin-bottom: 20px;
        }
    }
}